* {
  box-sizing: border-box;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.3rem 10%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 2rem;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
}

.navbar a,
.navbar button {
  font-family: "system-ui";
  font-size: 1.15rem;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 2.5rem;
  cursor: pointer;
}

#check {
  display: none;
}

.icons {
  position: absolute;
  right: 5%;
  font-size: 2.8rem;
  color: #fff;
  cursor: pointer;
  display: none;
}

@media (max-width: 992px) {
  .header {
    padding: 1.3rem 5%;
  }
}

@media (max-width: 768px) {
  .icons {
    display: inline-flex;
  }

  #check:checked ~ .icons .menu-icon {
    display: none;
  }
  #check:checked ~ .icons .close-icon {
    display: block;
  }
  .icons .close-icon {
    display: none;
  }

  #check:checked ~ .navbar {
    height: 100vh;
  }

  .navbar a,
  .navbar button {
    display: block;
    font-size: 1.1rem;
    margin: 1.15rem 0;
    text-align: center;
    transform: translateY(-50px);
    transition: 0.3s ease;
  }
  #check:checked ~ .navbar a {
    transform: translateY(0);
  }

  #check:checked ~ .navbar button {
    transform: translateY(0);
  }
}
